* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #409687;
}

.header {
    font-size: 30px;
    color: #f0f0f0;
    font-family: Monaco, sans-serif;
    text-align: center;
    margin: 16px;
    border: dashed, white, 2px;
    padding: 8px;
}

.recipe {
    font-size: 16px;
    border: dotted, white 1px;
    margin: 8px;
    padding: 8px;
}

.recipe1 {
    color: red;
}

.recipe2 {
    color: orange;
}

.recipe3 {
    color: yellow;
}